  <%- include('common/head',{title:"ボンバーマン"}) %>
  <%- include('common/header',{val:"ヘッダー"}) %>
  <main>
    <form action="" id="form">
      <input type="text" id="name">
      <button type="submit" id="btn">待機所に入室</button>
    </form>

  </main>
  <%- include('common/footer',{val:"フッター"}) %>
  <%- include('common/script',{name:"root"}) %>