  <%- include('common/head',{title:"ボンバーマン",page:"root"}) %>
  <%- include('common/header',{val:"ヘッダー"}) %>
  <main class="main">
    <form class="form form--private">
      <div class="form__input">
        <label for="name">名前</label>
        <input type="text" id="name" required class="form__inputName">
      </div>
      <div class="form__input">
        <button type="submit" value="create" class="form__createRoom">ルームを作成する</button>
        <span class="form__result">AAAAAAAA</span>
      </div>
      <div class="form__input">
        <button type="submit" value="search" class="form__searchRoom">ルームに参加する</button>
        <input type="text" class="form__inputRoomId" placeholder="8文字で入力してください">
      </div>
    </form>
    <form class="form form--public">
      <input type="text" id="name">
      <button type="submit" id="btn">待機所に入室</button>
    </form>
  </main>
  <%- include('common/footer',{val:"フッター"}) %>
  <%- include('common/script',{name:"root"}) %>