  <%- include('../common/head',{title:"セットアップ",page:"setup"}) %>
  <%- include('../common/header',{val:"ヘッダー"}) %>
  <main class="main">
    時間設定<br>
    ステージ設定

  </main>
  <%- include('../common/footer',{val:"フッター"}) %>
  <%- include('../common/script',{name:"setup"}) %>