  <%- include('../common/head',{title:"ボンバーマン",page:"game"}) %>
  <%- include('../common/header',{val:"ヘッダー"}) %>
  <button>aaa</button>
  <canvas id="canvas"></canvas>
  <%- include('../common/footer',{val:"フッター"}) %>
  <%- include('../common/script',{name:"game"}) %>