@import "../common/index.css";
.swiper-container {
  position: relative;
  width: 40%;
  margin-inline: auto;
}
.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.swiper-slide:nth-child(3n + 1) {
  border: 1px solid #000;
}
.swiper-slide:nth-child(3n + 2) {
  border: 1px solid #000;
}
.swiper-slide:nth-child(3n + 3) {
  border: 1px solid #000;
}
.swiper-button-prev {
  left: -60px;
}
.swiper-button-next {
  right: -60px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px;
} /* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 25px;
  margin: auto;
  background: #000;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  clip-path: polygon(0% 50%, 100% 0, 100% 100%);
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
