<!--
  <header class="header">
  <h1 class="header__logo"></h1>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">お知らせ</li>
      <li class="header__item">遊び方</li>
      <li class="header__item">お問い合わせ</li>
    </ul>
  </nav>
</header>
-->

<body>