<header class="header">
  <h1 class="header__logo"></h1>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"></li>
      <li class="header__item"></li>
      <li class="header__item"></li>
      <li class="header__item"></li>
      <li class="header__item"></li>
    </ul>
  </nav>
</header>

<body>